azure-adf-nested-foreach-adls/pl_master.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"ls_adls":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/pl_master')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Get Metadata of nestedfolder","type":"GetMetadata","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"ds_master","type":"DatasetReference","parameters":{}},"fieldList":["childItems"],"storeSettings":{"type":"AzureBlobFSReadSettings","enablePartitionDiscovery":false},"formatSettings":{"type":"BinaryReadSettings"}}},{"name":"Filter the files","type":"Filter","dependsOn":[{"activity":"Get Metadata of nestedfolder","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Get Metadata of nestedfolder').output.childItems","type":"Expression"},"condition":{"value":"@and(equals(item().type,'File'),endswith(item().name,'.csv'))","type":"Expression"}}},{"name":"iterate over files","type":"ForEach","dependsOn":[{"activity":"Filter the files","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Filter the files').output.value","type":"Expression"},"activities":[{"name":"Copy the files","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"BinarySource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"wildcardFileName":{"value":"@item().name","type":"Expression"},"deleteFilesAfterCompletion":false},"formatSettings":{"type":"BinaryReadSettings"}},"sink":{"type":"BinarySink","storeSettings":{"type":"AzureBlobFSWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"ds_master","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"ds_target","type":"DatasetReference","parameters":{}}]}]}},{"name":"Filter the folder","type":"Filter","dependsOn":[{"activity":"Get Metadata of nestedfolder","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Get Metadata of nestedfolder').output.childItems","type":"Expression"},"condition":{"value":"@equals(item().type,'Folder')","type":"Expression"}}},{"name":"iterate over folder","type":"ForEach","dependsOn":[{"activity":"Filter the folder","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Filter the folder').output.value","type":"Expression"},"isSequential":false,"activities":[{"name":"Execute Pipeline","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"pl_child","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"p_foldername":{"value":"@item().name","type":"Expression"}}}}]}}],"policy":{"elapsedTimeMetric":{}},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/datasets/ds_master')]","[concat(variables('factoryId'), '/datasets/ds_target')]","[concat(variables('factoryId'), '/pipelines/pl_child')]"]},{"name":"[concat(parameters('factoryName'), '/ds_master')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_adls')]","type":"LinkedServiceReference"},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileSystem":"nestedfolder"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_target')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_adls')]","type":"LinkedServiceReference"},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"curated","fileSystem":"outputfolder"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/pl_child')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Get Metadata of nestedfolder","type":"GetMetadata","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"ds_child_source","type":"DatasetReference","parameters":{"ds_foldername":{"value":"@pipeline().parameters.p_foldername","type":"Expression"}}},"fieldList":["childItems"],"storeSettings":{"type":"AzureBlobFSReadSettings","enablePartitionDiscovery":false},"formatSettings":{"type":"BinaryReadSettings"}}},{"name":"Looping files","type":"ForEach","dependsOn":[{"activity":"Get Metadata of nestedfolder","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Get Metadata of nestedfolder').output.childItems","type":"Expression"},"activities":[{"name":"Copy files in ADLS","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"BinarySource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"wildcardFolderPath":{"value":"@pipeline().parameters.p_foldername","type":"Expression"},"wildcardFileName":"*.csv","deleteFilesAfterCompletion":false},"formatSettings":{"type":"BinaryReadSettings"}},"sink":{"type":"BinarySink","storeSettings":{"type":"AzureBlobFSWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"ds_child_source","type":"DatasetReference","parameters":{"ds_foldername":{"value":"@item().name","type":"Expression"}}}],"outputs":[{"referenceName":"Binary1","type":"DatasetReference","parameters":{}}]}]}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"p_foldername":{"type":"string"}},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/datasets/ds_child_source')]","[concat(variables('factoryId'), '/datasets/Binary1')]"]},{"name":"[concat(parameters('factoryName'), '/ds_child_source')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_adls')]","type":"LinkedServiceReference"},"parameters":{"ds_foldername":{"type":"string"}},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":{"value":"@dataset().ds_foldername","type":"Expression"},"fileSystem":"nestedfolder"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Binary1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_adls')]","type":"LinkedServiceReference"},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"curated","fileSystem":"outputfolder"}}},"dependsOn":[]}]}